* {margin:0;padding:0}

/* ---For IE compability--- */
article, button, details, figcaption, figure, footer, header, hgroup, nav {
	display: block;
}
aside, section, label {
	display: inline-block;
}
a img {
	border: none;
}

/* ---Remove below--- */

body{
	background-color:#424142;
	font-family: "lucida grande",sans-serif;
	color: #555;
	line-height: 150%;
	margin: 0 auto;
}

div#content {
	display: block;
	padding: 2%;
	margin-top: 4em;
	margin-bottom: 1em;
	border-radius: 0.2em;
	background-color: rgba(255,255,255,0.7);
} 


@font-face {
    font-family: 'IconicStroke';
    src: url('../fonts/iconic_stroke.eot'),
         url('../fonts/iconic_stroke.ttf') format('truetype'),
         url('../fonts/iconic_stroke.svg#font') format('svg'); 
    font-weight: normal; font-style: normal;
}

.iconic { 
	display:inline-block; 
	font-family: 'IconicStroke',Arial; 
}

h1 {
	margin-bottom: 1em;
}

h3 {
	margin-top: 1em;
}


/*  ----navigation main top of the page----*/

.selector {
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 90%;
	margin: 0 auto;
	padding: 0 5%;
 	background-color: rgba(42,41,42,0.9);
 	z-index: 50;
}

header.topnav div a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 0.4em 1em 0.1em 1em;
	margin: 0.2em 0.5em 0 0;
	color: #2588b0;
	font-size: 0.7em;
}

header.topnav div a:hover {
	text-decoration: none;
	color: #81d5ff;
}

.navdash2 {
	font-size: 2.5em;
}

.navdash1 {
	display: block;
	margin-top: -0.7em;
}

.right {
	float: right;
}


span select {
	opacity: 0;
	cursor: pointer;
	width: 10em;
	margin-left: -10em;
	height: 2em;

}

span.select {
	display: inline-block;
	background-color: #f88;
	padding: 0.5em 0.3em;
	margin: 0.2em;
}

/*  ----navigation left file list----*/




div#wrapper {
	width: 100%;
	margin: 6em 0 0 0;
}

div#leftnav {
	float: left;
	margin: 6em 0 0 1em;
	z-index: 10;
}

button {
  	cursor: pointer;
  	font-size: 1em;
  	margin: 0.05em;
  	padding: 0.2em 0.4em;
  	color: #777;
  	-moz-border-radius: 0.2em;
  	-webkit-border-radius: 0.2em;
  	border-radius: 0.2em;
  	border: none;
  	background-color: rgba(255,255,255,0);
}

div#leftnav button {
	background-color: rgba(42,41,42,0.9);
	color: #2588b0;
 	z-index: 50;
 	border-radius: 0.5em; 
 	width: 4em;
 	height: 4em;
 	margin: 0 0 0.7em 0;
 	font-size: 1.2em;
}

div#leftnav button:hover {
	text-decoration: none;
	color: #81d5ff;
}

div#files {
	display: none;
	position: absolute;
	top:0;
	left: 107%;
	background-color: rgba(42,41,42,0.9);
	padding: 0.5em 2em 0.5em 0.5em;
 	z-index: 5;
 /*	min-width: 30em;*/
 	min-height: 10em;
	color: #2588b0;
	border: 2px solid #81d5ff;
	border-radius: 0.5em;
	font-size: 0.7em;
	-moz-box-shadow:1px 1px 10px rgba(000,000,000,0.4);
  	-webkit-box-shadow:1px 1px 10px rgba(000,000,000,0.4);
  	box-shadow:1px 1px 10px rgba(000,000,000,0.4);
}

div#files:after {
	content: '';
	position: absolute;
  	width: 0;
  	height: 0;
  	border: 1em solid;
  	border-right-color: rgba(42,41,42,0.9);
  	color: transparent;
  	top: 4.5em;
  	right: 100%;
  	z-index: 2;
}

ol {
	padding-left: 2em;
}

ol li {
	white-space: nowrap;
}

div#files hr {
	margin: 1em 0 0.5em 0;
	border-style: inset;
    border-width: 1px;
    height: 0;
    border-color: rgba(42,41,42,0.2);
}

.bright:hover {
	color: #81d5ff;
}
