#menu {
	background: #ccc;
	background: -webkit-gradient(linear,left top,left bottom,from(#FFF),to(#aaa));
	background: -moz-linear-gradient(top, #FFF, #777);
	background: -o-linear-gradient(top, #FFF, #777);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#777');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF, endColorstr=#777)";	
	-webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 4px 4px rgba(0,0,0,0.6);
	-o-box-shadow: 0px 4px 4px rgba(0,0,0,0.6);
	box-shadow: 0px 4px 4px rgba(0,0,0,0.6);
	padding-top: 0.25em;
	padding-left:2em;
	height:1.25em;	
}