/******************* MENU **********************/
ul.menu {
	font-family: 'lucida grande', sans-serif;
	margin: 0;
	padding: 0;
	display:block;
	position: relative;
	float: left;
	cursor: default;
}

ul.menu li {
	display: block;
	float: left;
	top: auto;
	color: #444;
	width: auto;
	white-space: nowrap;
}

ul.menu li span {
	padding-left: 0.25em;
	padding-right: 0.25em;	
}

ul.menu li span.row {
	padding-left: 0.5em;
	padding-right: 0.5em;
}


ul.menu li:hover {
	background: rgba(0,0,0,0.4);
	color: #eee;
}

ul.menu li a:hover {
	color: #eee;
}

ul.menu li a {
	color: #444;
	text-decoration: none;
}

.menu-glyph {
	color: #777;
	margin-right: 0.5em;
}

.alright {
	float: right;
	display: inline-block; 
	text-align: right;
	font-size: 0.75em;
}

ul.menu li > ul {
	display: none;
	border: solid 1px;
	background: rgba(255,255,255,0.9);
	
	-webkit-box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
	-o-box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
	box-shadow: 0px 4px 8px rgba(0,0,0,0.4);

	-webkit-border-radius: 0 0.3em 0.3em 0.3em;
	-moz-border-radius: 0 0.3em 0.3em 0.3em;
	-o-border-radius: 0 0.3em 0.3em 0.3em;
	border-radius: 0 0.3em 0.3em 0.3em;

	position: absolute;
	left: auto;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

ul.menu li > ul li {
	position: relative;
	left: auto;
	width: 100%;
}


ul.menu li > ul li.child > ul {
	left: 100%;
	top: -0.25em;
}

ul.menu li:hover > ul {
	display: block;
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
}